.custom-link {
    text-decoration: none;
  }

  body {
    background-color: #212529; /* Replace with the desired dark color code */
  }

 th, td {
  color: #ffca2c !important;
    background-color: #212529 !important;
  }